[submodule "lib/allwpilib"]
	path = lib/allwpilib
	url = https://github.com/wpilibsuite/allwpilib.git
[submodule "lib/godot-cpp"]
	path = lib/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
